.container {
  position: relative;
}
.wrap_img {
  position: absolute;
  top: 0;
  left: 0;
  /* transition: ; */
  /* transform: translateY(550px); */

  width: 200px;
  height: auto;
}
.wrap_img img {
  display: block;
  width: 100%;
  height: auto;
}
