*{
    margin: 0;
    padding: 0;
}
.container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  text-align: center;
 background-image: url('./background-presentation-png-7.png');
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}
.wrap_img {
  position: absolute;
  top: 0;
  left: 0;

  width: 200px;
  height: auto;
}
.wrap_img img {
  display: block;
  width: 100%;
  height: auto;
}
.title{
    color: rgb(219, 210, 210);
    font-size: 45px;
letter-spacing: 3px;

}